#codeTextarea {
	width: 500px;
	height: 100px;
	padding-left: 10px;
}

.textAreaWithLines {
	font-family: courier;
	border-style: dashed;
	border-color: gray;
}

.textAreaWithLines textarea, .textAreaWithLines div {
	border: 0px;
	line-height: 120%;
	font-size: 12px;
}

.lineObj {
	color: gray;
}